*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
}
.izquierda{
    width: 20vw;
    height: 100vh;
    background-color: #fff;
    -ms-flex-align: start;
}
.centro{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.columna{
    width: 20vw;
    height: 100vh;
    background-color: rgb(48, 48, 48);
}
.fila{
    height: 75px;
    background-color: rgb(68, 68, 68);
    width: inherit;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fila4{
    color:#fff;
    font: 30px 'oswald';
}
.boton{
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 20px;
    font: 20px 'Raleway';
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 109, 18);
}
.boton3{
    background-color:rgb(255, 0, 0);
}
#tablero{
    width: 501px;
    height: 500px;
    display:flex;
    flex-wrap: wrap;
}
#tablero div{
    width: 5px;
    height: 5px;
    border-top: inherit;
    border-right:inherit;
}

.celda:hover{

    background-color: rgb(251, 255, 0) !important;
}
#generacion{
    padding: 16px;
    background-color: #fff;
    color: #000;
    font: 16px 'raleway';
}

/* Clases no relacionadas con el tablero de juego */
.velocidad{
    background-color: transparent !important;
    width: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
.title-velocidad{
    background-color: transparent !important;
}
.velocidades{
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}
.velocidad1{
    background-color: forestgreen;
}

@media (max-width:815px){
    #tablero{
        width: 201px;
        height: 200px;
    }
    #tablero div{
        width: 2px;
        height: 2px;
    }
}